[tool.poetry]
name = "PSY-TaLiRo"
version = "1.0.0b5"
description = "System-level verification library using STL"
authors = ["Quinn Thibeault <qthibeau@asu.edu>", "Jacob Anderson <jwande18@asu.edu>"]
license = "BSD-3-Clause"
packages = [
    {include = "staliro", from = "src"}
]

[tool.poetry.dependencies]
python = ">=3.8, <3.11"
attrs = "^21.0.0"
numpy = "^1.21.5"
scipy = "^1.6.2"
typing-extensions = "^4.2.0"
antlr4-python3-runtime = "^4.7"

[tool.poetry.dev-dependencies]
black = "*"
isort = "*"
mypy = "^0"
flake8 = "^4.0.0"
flake8-comprehensions = "^3.4.0"
flake8-pyi = "^20.10.0"
flake8-return = "^1.1.2"
pep8-naming = "^0.11.1"
flake8-use-fstring = "^1.1"
flake8-annotations-complexity = "^0.0.6"
flake8-todo = "^0.7"
Sphinx = "^4.1.2"
sphinx-autodocgen = "^1.2"
pandas = "^1.3.1"
rtamt = {git = "https://github.com/nickovic/rtamt.git", rev = "c0fb9e6"}
tltk-mtl = {version = "^0.0.27", markers = "sys_platform == 'linux'"}
sphinx-autobuild = "^2021.3.14"
furo = "^2022.4.7"
rstcheck = "^5.0.0"
plotly = "^5.3.1"
aerobench = {git = "https://github.com/qthibeault/aerobenchvvpython.git"}
kaleido = "0.2.1"

[tool.black]
line-length = 100
extend-exclude = '''
/src/staliro/parser/stlParserListener.py
| /src/staliro/parser/stlParser.py
| /src/staliro/parser/stlLexer.py
'''

[tool.isort]
profile = "black"
line_length=100
skip_gitignore = true
src_paths = ["src"]
extend_skip = ["stlLexer.py", "stlParser.py", "stlParserListener.py", "stlParserVisitor.py"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
